{{/* Usage: {{ partial "content/img-size" (dict "Page" .Page "Url" $src) }} */}}
{{- $page := .Page -}}
{{- $imageUrl := .Url -}}
{{- $width := 0 -}}
{{- $height := 0 -}}
{{- $resolution := "" -}}

{{- if and $page $imageUrl -}}
  {{- $urlParts := split (index (split $imageUrl "?") 0) "/" -}}
  {{- $fileName := index $urlParts (sub (len $urlParts) 1) -}}

  {{- $res := $page.Resources.GetMatch $fileName -}}
  {{- if not $res -}}
    {{- $baseName := path.BaseName $fileName -}}
    {{- $res = $page.Resources.GetMatch (printf "%s.*" $baseName) -}}
  {{- end -}}

  {{- with $res -}}
    {{- if reflect.IsImageResourceWithMeta . -}}
      {{- $width = .Width -}}
      {{- $height = .Height -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if and $width $height -}}
  {{- $maxSize := default 0 site.Params.maxImageSize -}}
  {{- $maxDim := cond (gt $width $height) $width $height -}}
  {{- if and $maxSize (gt $maxDim $maxSize) -}}
    {{- $width = div (mul $width $maxSize) $maxDim -}}
    {{- $height = div (mul $height $maxSize) $maxDim -}}
  {{- end -}}
  {{- $resolution = printf "%dx%d" $width $height -}}
{{- end -}}

{{- return $resolution -}}