{{- $imgClass := "toc-cover" -}}
{{- if site.Params.image.roundedCorners -}}
  {{- $imgClass = printf "%s rounded" $imgClass -}}
{{- end -}}
{{- return (partial "content/cover-image" (dict
  "Page" .Page
  "Cover" .Cover
  "Thumbnail" .Thumbnail
  "Alt" "Cover Image"
  "Class" $imgClass
  "WrapperClass" "toc-cover-wrap"
  "ZoomSrc" (partial "content/cover-url" (dict "Cover" .Cover "Thumbnail" .Thumbnail))
  "MobileSourceMedia" "(max-width: 1254px)"
  "Width" 208
  "Height" 156
  "Sizes" "(max-width: 1080px) calc(100vw - 32px), 208px"
)) -}}
