<link rel="icon" href="{{ .Site.Params.assets.favicon | default `favicon.ico` | strings.TrimPrefix `/` | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.assets.favicon16x16 | default `favicon-16x16.png` | strings.TrimPrefix `/` | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.assets.favicon32x32 | default `favicon-32x32.png` | strings.TrimPrefix `/` | absURL }}">
<link rel="apple-touch-icon" href="{{ .Site.Params.assets.apple_touch_icon | default `apple-touch-icon.png` | strings.TrimPrefix `/` | absURL }}">
<link rel="mask-icon" href="{{ .Site.Params.assets.safari_pinned_tab | default `safari-pinned-tab.svg` | strings.TrimPrefix `/` | absURL }}">