<nav>
{{ partial "menu/profile" . }}

{{ partial "menu/links" . }}

{{ partial "menu/search-input" . }}

{{ partial "menu/languages" . }}

{{ if default false .Site.Params.menu.categories }}
{{ partial "menu/categories" . }}
{{ end }}

{{ if default false .Site.Params.menu.recentPosts }}
{{ partial "menu/recent-posts" . }}
{{ end }}
</nav>

<!-- Restore menu position as soon as possible to avoid flickering -->
<script>
(function() {
  var menu = document.querySelector("aside .menu-content");
  addEventListener("beforeunload", function(event) {
    localStorage.setItem("menu.scrollTop", menu.scrollTop);
  });
  menu.scrollTop = localStorage.getItem("menu.scrollTop");
})();
</script>