<div class="menu-profile">
  {{- with site.Params.menu.profileImage -}}
  <div class="profile-image-wrap">
    <a href="{{ $.Site.BaseURL }}">
      <img src="{{ . | strings.TrimPrefix `/` | relURL }}" alt="Profile" class="profile-image" decoding="async" />
    </a>
  </div>
  {{- end -}}

  <h2 class="profile-title">
    <a class="flex align-center" href="{{ .Site.BaseURL }}">
      {{- with .Site.Params.menu.logoImage -}}
        <img src="{{ . | strings.TrimPrefix `/` | relURL }}" alt="Logo" />
      {{- end -}}
      <span>{{ .Site.Params.Menu.Title }}</span>
    </a>
  </h2>
</div>