{{ if default true .Site.Params.search.enabled }}
<div class="menu-search"
      id="search-input"
      data-hotkeys="s/"
      role="button"
      tabindex="0"
      aria-label="{{ i18n `search.action.label` | default `Search` }}"
      data-i18n-id="search.action.label"
      data-i18n-attrs="aria-label">
  <i class="icon-search search-icon"></i>
  <span class="search-placeholder" data-i18n-id="search.input.label" data-i18n-text='{"`/`": "$code"}'>
    {{ $searchText := i18n "search.input.label" | default "Press `/` to search" }}
    {{ (replace $searchText "`/`" "<code>/</code>") | safeHTML }}
  </span>
</div>
{{ end }}
