{{- /* --- Parameters --- */ -}}
{{- $ratioParam := .Get "ratio" | default "" -}}
{{- $hasRatio := ne $ratioParam "" -}}
{{- $ratio := cond $hasRatio (split $ratioParam ":") (slice) -}}
{{- $class := .Get "class" -}}
{{- /* --- Render HTML --- */ -}}
{{- if strings.Contains .InnerDeindent "<--->" -}}
<div class="sc-columns flex flex-wrap{{ if not $hasRatio }} sc-columns--auto-image-ratio{{ end }}{{ with $class }} {{ . }}{{ end }}">
{{- range $index, $content := split .InnerDeindent "<--->" -}}
  {{- $grow := default 1 (index $ratio $index) -}}
  <div class="flex-even markdown-inner" style="flex-grow: {{ $grow }};">
    {{ $content | safeHTML }}
  </div>
{{- end -}}
</div>
{{- /* --- Render Markdown --- */ -}}
{{ else }}
{{- if $ratio -}}
<style>
{{- range $index, $grow := $ratio -}}
.sc-columns-{{ $.Ordinal }}>ul>li:nth-child({{ $index | add 1 }}){
  flex-grow: {{ default 1 $grow }};
}
{{- end -}}
</style>
{{- end -}}
<div class="sc-columns sc-columns-{{ .Ordinal }}{{ if not $hasRatio }} sc-columns--auto-image-ratio{{ end }} {{ with $class }}{{ . }}{{ end }}">
{{ .InnerDeindent | safeHTML }}
</div>
{{- end -}}
