{{ define "content" }}
<article class="content-wrap markdown">
  {{ $pages := partialCached "pages/posts" . "posts" }}

  <div class="list-header">
    <h1>
      Posts
    </h1>
    <p data-i18n-id="list.count.label" data-i18n-text='{"%s": "$.list-count"}'>
      {{- $count := printf `<em class="list-count">%d</em>` (len $pages) -}}
      {{- printf (i18n "list.count.label" | default "%s posts") $count | safeHTML -}}
    </p>
  </div>

  {{ $paginate := .Paginate $pages 10 }}

  <div class="post-list">
    {{ range $paginate.Pages }}
      {{ partial "post-item.html" . }}
    {{ end }}
  </div>

  {{ partial "pagination.html" $paginate }}
</article>
{{ end }}