$hint-colors: (
  default: #64748b,
  info: #4486dd,
  success: #3bad3b,
  warning: #f59e42,
  danger: #d84747,

  note: #4486dd,
  tip: #3bad3b,
  important: #8144dd,
  caution: #d84747
);

@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #c7cfd3;
  --gray-500: #6f767e;
  --gray-800: #495057;

  --color-link: #0055bb;
  --color-visited-link: #5500bb;
  --color-page-link: #adb5bd;
  --color-disabled-link: #94a3b8;
  --color-social-link: #fff;
  --link-background: rgba(0, 85, 187, 0.1);

  --body-background: white;
  --body-font-color: black;

  --toc-font-color: black;
  --toc-active-color: black;

  --icon-filter: none;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --lineno-font-color: rgba(0, 0, 0, 0.5);

  --data-thead-color: #d1d5db;
  --data-tbody-odd: rgba(248, 249, 250, 0.5);
  --data-tbody-even: rgba(0, 0, 0, 0.1);
  --data-tbody-hover: rgba(233, 236, 239, 0.8);
}
