{{- $categories := .categories -}}
{{- $wrapperClass := default "post-categories" .wrapperClass -}}
{{- $parentClass := default "post-cat-parent" .parentClass -}}
{{- $childClass := default "post-cat-child" .childClass -}}
{{- $separatorClass := default "post-cat-sep" .separatorClass -}}
{{- $category1 := partial "categories/level1" $categories -}}
{{- $category2 := partial "categories/level2" $categories -}}

{{- if $category1 -}}
<div class="{{ $wrapperClass }}">
  <a
    href="{{ printf "%s?%s" (`category/` | relURL) (querify `category1` $category1) }}"
    class="{{ $parentClass }}">{{ $category1 }}</a>
  {{- if $category2 -}}
  <span class="{{ $separatorClass }}">›</span>
  <a
    href="{{ printf "%s?%s" (`category/` | relURL) (querify `category1` $category1 `category2` $category2) }}"
    class="{{ $childClass }}">{{ $category2 }}</a>
  {{- end -}}
</div>
{{- end -}}
