{{ define "content" }}
<article class="content-wrap markdown">
  <div class="list-header" id="list-header"></div>
  <div class="taxonomy-section hidden" id="taxonomy-section"></div>

  <div class="search-data hidden" id="search-data">
    {{- range $index, $page := partialCached "pages/search" . "search" -}}
      <div class="search-item" data-id="{{ $index }}">
        {{ partial "post-item.html" . }}
      </div>
    {{- end -}}
  </div>

  <div class="search-no-results hidden" id="search-no-results">
    <p>결과가 없습니다.</p>
  </div>

  <div class="post-list hidden" id="search-results"></div>

  <div id="pagination-anchor"></div>
  <nav class="pagination hidden" id="pagination"></nav>
</article>
{{ end }}
